:root{
    --light: rgb(255, 255, 255);
    --dark: rgb(0, 23, 31);
    --primary-dark: rgb(0, 50, 86);
    --primary: rgb(0, 126, 167);
    --primary-light: rgb(0, 168, 232);

    --grey-light: rgb(247, 247, 247);
    --grey-dark: #c2c2c2;

    --font-h: 'Montserrat', sans-serif;
    --font-p: 'Merriweather', serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--light);
    color: var(--light);
    font-size: 10px;
    line-height: 1;
}

.container{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;
}

a{
    cursor: pointer;
}


i{
    color: var(--grey-dark);
    margin: 1rem;
    cursor: pointer;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: .8rem;
    margin: 3rem 0;
}

h3{
    font-size: 1.6rem;
    font-weight: 400;
}

h6{
    font-size: .9rem;
    padding: 0;
    margin: 0;
    font-family: var(--font-h);
    text-transform: uppercase;
    color: var(--dark);
}

.h-light{
    font-family: var(--font-h);
    text-transform: uppercase;
}

.h-dark{
    color: var(--dark);
    text-transform: uppercase;
    font-family: var(--font-h);
}

.h-grey{
    color: var(--grey-dark);
    text-transform: uppercase;
    font-family: var(--font-h);
    font-size: 1rem;
    font-weight: 300;
}

.p-light{
    font-size: 1.1rem;
    font-family: var(--font-p);
    margin-bottom: 3rem;
}

.p-dark{
    color: var(--dark);
    font-family: var(--font-h);
    font-size: 1rem;
}

small{
    font-size: .8rem !important;
}

/* COMPONENTS */

.header{
    width: 100%;
    background: linear-gradient(rgba(0, 23, 31, .5), rgba(0, 23, 31, .5)),
    url('../img/cover13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.header__nav{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    height: 2.5rem;
}

.header__menu{
    width: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__menu a{
    font-size: 1rem;
    font-family: var(--font-h);
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
}

.header__content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
}

.btn-primary{
    font-size: 1.5rem;
    outline: none;
    border: 2px solid var(--light);
    background: none;
    color: var(--light);
    padding: 1rem 1.6rem;
    cursor: pointer;
}

/* MAIN */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOOKBOOK SECTION */
.lookbook{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.lookbook__content{
    background: linear-gradient(rgba(0, 23, 31, .5), rgba(0, 23, 31, .5)),
    url('../img/fashion2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lookbook__video{
    background: linear-gradient(rgba(0, 23, 31, .5), rgba(0, 23, 31, .5)),
    url('../img/fashion3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.lookbook__video i{
    color: var(--light);
    border: 1px solid var(--light);
    padding: 2rem;
    border-radius: 50%;
}

.lookbook__video iframe{
    display: none;
}

/* ARRIVALS SECTION */
.arrivals{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 4rem 0;
}

.arrivals__item{
    text-align: center;
    cursor: pointer;
}

.arrivals__item img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

/* ACTIVITIES SECTION */
.activities{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.activities__sustainability{
    background: linear-gradient(rgba(0, 23, 31, .5), rgba(0, 23, 31, .5)),
    url('../img/fashion4.jpg');
}

.activities__foundrylife{
    background: linear-gradient(rgba(0, 23, 31, .5), rgba(0, 23, 31, .5)),
    url('../img/cover10.jpg');
}

.activities__sustainability,
.activities__foundrylife{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}

/* INFO SECTION */

.info{
    display: flex;
    justify-content: space-around;
    width: 60%;
    background: var(--grey-light);
    margin: 3rem;
}

.info__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.8rem 0;
    cursor: pointer;
}

/* SOCIAL SECTION */
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d1d;
    width: 100%;
    padding: 2rem;
}

.social__email input{
    background: var(--light);
    border: none;
    font-family: var(--font-h);
    font-size: .8rem;
    padding: 1rem;
    padding-right: 4rem;
    font-weight: 700;
}

.btn-subscribe{
    border: none;
    font-size: .8rem;
    padding: 1rem 4rem;
    font-family: var(--font-h);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 1rem;
    background: var(--primary);
    color: var(--light);
}

/* FOOTER */
.footer__top{
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: flex-start;
    padding-top: 3rem;
}

.footer__logo img{
    width: 45%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.footer__item{
    width: 30%;
    padding: 1rem;
    font-size: 1rem;
}

.footer__item ul{
    list-style-type: none;
    padding: 1rem 0;
    margin: 0;
}

.footer__item ul li{
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}

.footer__item a{
    text-decoration: none;
    color: var(--dark);
    text-transform: uppercase;
    font-size: .7rem;
    padding: .5rem 0;
    font-family: var(--font-h);
    font-weight: 700;
}

.footer__item span{
    color: var(--grey-dark);
}

.footer__bottom{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.footer__bottom p{
    font-size: .8rem;
}

.btn-top{
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    font-family: var(--font-h);
    font-weight: 700;
    color: var(--grey-dark);
    background: none;
    border: 3px solid var(--grey-dark);
    outline: none;
    cursor: pointer;
}